<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/layout :: head-links}"></th:block>
    <title>Create product</title>
</head>
<body>
<nav th:replace="~{fragments/layout :: navbar}"></nav>
<div class="container body-content py-4">
    <h2 class="mb-4">Tạo sản phẩm</h2>
    <form th:action="@{/products/create}" th:object="${product}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" id="name" type="text" th:field="*{name}" placeholder="product Name"/>
            <div class="alert alert-warning border-danger mt-1 py-1 px-2 small"
                 th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="price">Price</label>
            <input class="form-control" id="price" type="number" th:field="*{price}" placeholder="price"/>
            <div class="alert alert-warning border-danger mt-1 py-1 px-2 small"
                 th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="image">Image</label>
            <input class="form-control" id="image" type="file" name="imageProduct" accept=".png,.jpeg,.jpg,image/*"/>
            <div class="alert alert-warning border-danger mt-1 py-1 px-2 small"
                 th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="category">Category</label>
            <select class="form-select" id="category" th:field="*{category.id}">
                <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>
            <div class="alert alert-warning border-danger mt-1 py-1 px-2 small"
                 th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
        </div>
        <div class="alert alert-danger" th:if="${uploadError}" th:text="${uploadError}"></div>
        <button class="btn btn-success" type="submit">Add Product</button>
    </form>
</div>
<div th:replace="~{fragments/layout :: footer}"></div>
<th:block th:replace="~{fragments/layout :: scripts}"></th:block>
</body>
</html>
